@charset "UTF-8";

body {
    background-color: rgb(213, 207, 199);
}

h1 {
    color: rgb(142, 85, 0);
}
h1#principal {
    text-align: center;
    background-color: black;
    color: white;
}
h2 {
    color: rgb(0, 83, 156);
}
.basico {
    background-color: blue;
}